<h1>Wissenswertes</h1>
<h2>Wozu ist der Wunschzettel gut?</h2>
<p>Der Wunschzettel listet mögliche Geschenke auf. Jeder Besucher kann Geschenke von der Liste nehmen, so werden sie nicht doppelt geschenkt.</p>
<h2>Verdirbt das nicht die Überraschung?</h2>
<p>Nein, die Liste funktioniert ähnlich wie zum Beispiel die Amazon-Wunschliste: Der Inhaber sieht im Normalfall nicht, was von der Liste "verschwindet".</p>
<h2>Woher bekomme ich die Geschenke?</h2>
<p>Der Wunschzettel gehört zu keinem Shop, du musst also selbst herausfinden, woher du die Geschenke tatsächlich bekommst. Oft ist in der Beschreibung ein Hinweis. In vielen Fällen stellst du besser einen Gutschein aus.</p>
<h2>Wie ist der Ablauf?</h2>
<ul>
<li>Suche dir etwas auf der Liste aus.</li>
<li>Klicke auf "<%=t "actions.give_this_item" %>"</li>
<li>Trage deine E-Mailadresse ein und clicke auf "<%=t "actions.claim" %>".</li>
<li>Du erhälst nun eine E-Mail auf die zuvor eingegebene Adresse.</li>
<li>Bitte öffne die E-Mail und klicke den darin enthaltenen Link an. Damit wird der Wunsch vom öffentlichen Wunschzettel entfernt.</li>
<li>Du erhälst eine zweite E-Mail als Bestätigung, dass alles geklappt hat.</li>
</ul>
<p>Bitte beachte, dass es sich hier nicht um einen Shop handelt. Du musst dich also selbst noch darum kümmern, wo du das Geschenk (oder einen Gutschein dafür) her bekommst.
<h2>Ich möchte auch so einen Wunschzettel</h2>
<p>Der Wunschzettel ist ein Open Source Projekt, und den Quellcode dazu gibt es auf <a href="https://github.com/ccoenen/wishlist">Github</a>! Momantan sind dafür aber leider noch Programmierkenntnisse nötig.</p>
