<h1><%= t('owner_protection_views.index_title') %></h1>
<p><%= t('owner_protection_views.index_explanation') %></p>
<%= link_to t('owner_protection_views.owner_show_all'), {:controller => :wishes, :action => :owner}, :class => "button" %>
<%= link_to t('owner_protection_views.visitor_show_unclaimed'), {:controller => :wishes, :action => :visitor}, :class => "button" %>