<h1>Owner Protection</h1>
<%= link_to 'Continue as Owner', {:controller => :owner_protection, :action => :owner} %>
<%= link_to 'Continue as Visitor', {:controller => :owner_protection, :action => :visitor} %>