html {
  min-height: 100%;
}

body {
  font-family: 'Times New Roman', serif;
  font-size: 0.9em;
  line-height: 1.4em;
  background: #ebebeb;
  padding-bottom: 600px;
}

body, p, ul, ol, input[type="submit"] {
  color: black;
  font-family: 'Times New Roman', serif;
  font-size: 14px;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 250%;
  padding: 0.4em 0 0.3em 0;
}

h2 {
  font-size: 200%;
}

h4 {
  color: #00a800;
  margin: 10px 0 0 0;
  font-style: italic;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

em {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}

a, input[type="submit"] {
  color: #505050;
}

a:hover {
  color: black;
  background: none;
}

input[type="submit"]:hover {
  color: black;
  cursor: pointer;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

header {
  text-align: center;
  padding: 20px 0 15px 0;
}

header img {
  width: 100%;
  max-width: 592px;
}

nav {
  text-align: center;
  box-shadow: 3px 5px 15px 0px #ccc;
  -webkit-box-shadow: 3px 5px 15px 0px #ccc;
}

nav ul {
  font-size: 14pt;
  list-style: none;
  margin: 0;
  padding: 15px 8px 5px 8px;
  background: #d9d9d9;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-weight: bold;
  text-decoration: none;
  padding: 9px;
  border-top: 3px solid #d9d9d9;
  font-style: italic;
}

nav ul li a.active {
  background-color: white;
  color: #00a800;
  border-top-color: #ade3ad;
}

#page {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: auto;
}

#canvasContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.notice {
  background-color: rgb(255,255,180);
  padding: 1em;
  color: rgb(170,120,0);
  border: 1px solid rgb(170,120,0);
  border-radius: 4px;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

a.button,
input.button {
  background: #d9d9d9;
  text-decoration: none;
  padding: 0.2em 0.8em;
  display: inline-block;
  margin: 0.2em 0;
  width: auto;
  font-weight: bold;
  border: none;
}

img.thumb {
  background: white;
  float: left;
  width: 100px;
  height: 100px;
  border: none;
  margin: 1em 2em 1em 0;
  box-shadow: 3px 3px 15px 0px #ccc; 
  -webkit-box-shadow: 3px 3px 15px 0px #ccc; 
}

fieldset {
  margin: 1em;
  border: 1px solid #d9d9d9;
}

#container-wishlist p {
  text-align: left;
}

#content {
  background-color: white;
  padding: 20px;
  box-shadow: 3px 3px 15px 0px #ccc;
  -webkit-box-shadow: 3px 3px 15px 0px #ccc;
}

section {
  clear: both;
  text-align: center;
}

.clear {
  clear: both;
}

.invisible {
  display: none;
}

#map {
  width: 100%;
  height: 250px;
  border: none;
}

#mapshadow {
  position: relative;
  left: -3px;
  top: -259px;
  z-index: 300;
  width: 100%;
  height: 250px;
  box-shadow: inset 3px 3px 15px 0px #999;
  -webkit-box-shadow: inset 3px 3px 15px 0px #999;
  border: 3px solid #d9d9d9;
  pointer-events: none;
  margin-bottom: -250px;
}

#admin-wishlist tr.sortable-placeholder {
  height: 108px;
  background-color: #f7f7f7;
}

.addresses {
  margin-bottom: 15px;
}

.two_column .address {
  float: left;
  width: 49%;
}

/* smartphone screens */
@media screen and (max-width: 375px) {
  .two_column .address {
    float: none;
    width: auto;
  }

  nav ul {
    padding: 8px;
  }

  nav ul li a {
    display: block;
    padding: 5px;
  }
}
